################################################################################
# .gitignore file
################################################################################

/Photo Dispatcher/.vs/