################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Photo Dispatcher/.vs/Photo Dispatcher/FileContentIndex/21178ce0-7fbd-482a-aced-c03e2d74146f.vsidx
