################################################################################
# .gitignore file
################################################################################

/Photo Dispatcher/.vs/
/Photo Dispatcher/Photo Dispatcher/Photo Dispatcher/obj/
/Photo Dispatcher/Photo Dispatcher/bin/
/Photo Dispatcher/Photo Dispatcher/obj/